:root {
    --font-step--2: clamp(0.78rem, calc(0.78rem + 0.13vw), 0.84rem);
    --font-step--1: clamp(0.94rem, calc(0.79rem + 0.38vw), 1.13rem);
    --font-step-0: clamp(1.13rem, calc(0.83rem + 0.50vw), 1.5rem);
    --font-step-1: clamp(1.13rem, calc(0.83rem + 1.3vw), 2rem);
    --font-step-2: clamp(1.62rem, calc(0.78rem + 2.09vw), 2.67rem);
    --font-step-3: clamp(1.94rem, calc(0.66rem + 3.22vw), 3.55rem);
    --font-step-4: clamp(2.33rem, calc(0.41rem + 4.81vw), 4.74rem);
    --font-step-5: clamp(2.8rem, calc(-0.01rem + 7.03vw), 6.31rem);
    --font-step-6: clamp(1.7rem, calc(-0.66rem + 6.22vw), 6.55rem);
}

.texto {
    font-size: var(--font-step-0); /* Usa a variável para controle de tamanho */
    font-weight: 500; /* Define a espessura da fonte */
    text-align: justify; /* Justifica o texto para um alinhamento mais formal */
    margin: 30px auto; /* Aplica margem superior e centra horizontalmente */
    padding: 20px; /* Adiciona espaçamento interno para conforto visual */
    line-height: 1.6; /* Aumenta o espaçamento entre linhas para melhorar a leitura */
    max-width: 800px; /* Limita a largura máxima para melhorar a legibilidade */
}


.l-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    box-shadow: 2px px 20px rgb(1, 0, 39);

}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}
input{
    appearance: none;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
}
input:hover{
   border: 1px solid rgb(1, 0, 39);
}
textarea{
    border-radius: 7px;
    border: none;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.534);
}
textarea:hover{
    border: 1px solid rgb(4, 201, 255);
}
label {
    font-family: sans-serif;
    margin-bottom: -10px;
    color: rgba(0, 0, 0, 0.733);
}
 label:hover{
color: rgb(0, 0, 0);
}
#botao{
    border: none;
    background-color: rgb(1, 0, 39);
    padding: 5px;
    width: 150px;
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 7px rgb(1, 0, 39);
    border-radius: 7px;
   cursor: pointer;
   padding: 9px 8px;
   font-weight: 900;
   align-self: center;
}



#botao:hover{
    border: none;
    background-color: rgb(13, 255, 0);
    padding: 5px;
    width: 150px;
    color: rgb(1, 0, 39);
    box-shadow: 1px 1px 7px rgb(1, 0, 39);
    border-radius: 7px;
    padding: 9px 8px;
    font-weight: 900;
}

#botao {
    display: none;
}

/* Exibir o botão apenas quando o formulário for válido */
form:valid #botao {
    display: block;
}

@media(max-width:1000px){
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .formulario{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 20px;
    }
}